
body{
    font: 20px arial, sans-serif;
}
.navbar{
    background-color: #c5a5b0;
}

#quem-somos{
    background-color: #976d7c;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

#loja{
    background-color: #c6879d;
    
}