
body{
    font: 20px arial, sans-serif;
}
.navbar{
    background-color: #e2d0d6;
}

#quem_somos{
    background-color: #e0b8c6;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.croche{
    background-color: #f8e1e9;
    
}

.servicos{
    background-color: #e2d0d6;
}